---
import Layout from "../layouts/Layout.astro"
import ResetPassword from "../components/ResetPassword.jsx"
import "../App.scss"
---
<Layout title="Inscription">

    <main>
        <ResetPassword client:load/>
    </main>

</Layout>